#root {
    height: 100%;
    margin: 0;
}

.App {
    text-align: center;
    max-height: 100%;
}

.App-header {
    background-color: teal;
}

.App-subheader {
    width: 100%;
    height: 20px;
}

.App .dropdown-container {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.App .ui.multiple.search.dropdown {
    -moz-box-shadow: 1px 0.5px 1px 0.1px #ccc;
    -webkit-box-shadow: 1px 0.5px 1px 0.1px #ccc;
    box-shadow: 1px 0.5px 1px 0.1px #ccc !important;
}

/*@TODO Need to center it properly*/
.App-pagination-bar {
    position: absolute;
    bottom: 30px;
}

.App .EntryForm-btn-add {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
