.EntryForm-btn-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.EntryForm-btn-open .glyphicon-plus-sign {
    font-size: 30px;
}

.EntryForm-btn-open .glyphicon-pencil {
    font-size: 12px;
    opacity: 0.6;
}

.EntryForm-btn-open .glyphicon-pencil:hover {
    font-size: 14px;
    opacity: 1;
    float: right;
}

.EntryForm-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.EntryForm-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
}

.EntryForm-tags {
    float: left;
}

.EntryForm-tags input {
    /*min-width: 500px;*/
}

.EntryForm-title {
    width: 50% !important;
    /*position: absolute;
    top: 0;
    left: 0;
    margin: 10px;*/
}

.EntryForm-modal {
    height: 90% !important;
}
