.MergeRequestModal-new-label {
    background-color: #eaffea !important;
}

.MergeRequestModal-deleted-label {
    color: #a33 !important;
    text-decoration: line-through;
    background: #ffeaea !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.MergeRequestModal {
    height: 90% !important;
}

.MergeRequestModal-footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.MergeRequestModal-btn-group {
    float: right;
    padding-right: 20px;
}

.RichDiff {
    position: relative;
    padding: 20px;
    /* First level blocks */
    /* Tables */
}
.RichDiff .RichDiff-ToggableGroup {
    width: 100%;
    line-height: 18px;
    padding: 6px 12px;
    color: #d3d3d3;
    background: transparent;
    cursor: pointer;
    margin: 20px 0px;
    border-radius: 3px;
    font-size: 21px;
    text-align: center;
}
.RichDiff .RichDiff-ToggableGroup:hover {
    color: #333;
    background: transparent;
}
.RichDiff > .diff-block-modified {
    position: relative;
}
.RichDiff > .diff-block-modified:before {
    position: absolute;
    left: -20px;
    content: "";
    top: 0px;
    bottom: 0px;
    border-left: 4px solid #ffc045;
}
.RichDiff > .diff-block-added {
    position: relative;
}
.RichDiff > .diff-block-added:before {
    position: absolute;
    left: -20px;
    content: "";
    top: 0px;
    bottom: 0px;
    border-left: 4px solid #7fcb5c;
}
.RichDiff > .diff-block-removed {
    position: relative;
}
.RichDiff > .diff-block-removed:before {
    position: absolute;
    left: -20px;
    content: "";
    top: 0px;
    bottom: 0px;
    border-left: 4px solid #c94114;
}
.RichDiff .diff-range-added,
.RichDiff .diff-text-added {
    color: inherit !important;
    background: #eaffea !important;
}
.RichDiff .diff-range-removed,
.RichDiff .diff-text-removed {
    color: #a33 !important;
    text-decoration: line-through;
    background: #ffeaea !important;
}
.RichDiff td.diff-block-modified {
    color: inherit;
    background: #ffffea;
}
#example {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}
.EditionArea {
    display: flex;
}
.EditionArea textarea {
    flex: 1;
    resize: none;
}
