.ResultListItem-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.ResultListItem {
    text-transform: capitalize;
    height: 50px;
    font-size: 10px;
    z-index: 0 !important;
}

.ResultListItem-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: nowrap;
    -webkit-box-orient: vertical;

    width: 80%;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.ResultListItem-avatar {
    margin-left: 15px;
    width: 30px !important;
    height: 30px !important;
    right: 10px;
}

.ResultListItem-actions {
    position: absolute !important;
    float: right;
    top: 5px;
    font-size: 14px !important;
    right: 0px;
    padding: 0;
}

.ResultListItem .EntryForm,
.ResultListItem .DeleteEntry {
    margin: 5px;
}
