.ResultListItem-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.ResultListItem {
    text-transform: capitalize;
    height: 85px;
    width: 100%;
    font-size: 12px;
    z-index: 0 !important;
}

.ResultListItem-avatar {
    width: 20px !important;
    height: 20px !important;
    margin: 0 !important;
}

.ResultListItem-header {
    display: inline-block !important;
}

.ResultListItem-actions,
.ResultListItem-action {
    float: right;
    padding-right: 0 !important;
    width: 10px;
    height: 10px;
}

.ResultListItem-action > * {
    position: absolute;
    top: 0;
}

.ResultListItem-label-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
}

.ResultListItem-description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
