.ResultListItem-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.ResultListItem {
    text-transform: capitalize;
    height: 140px;
    font-size: 12px;
    z-index: 0 !important;
}

.ResultListItem-title {
    text-decoration: underline;
    font-size: 15px;
    float: left;
}

.ResultListItem-description {
    font-size: 12px;
    text-align: left;
}

.ResultListItem-label {
    margin-right: 2px;
    float: left;
    background-color: #333;
}

.ResultListItem-btn-panel {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-flex;
}

.ResultListItem-label-panel {
}

.ResultListItem .EntryForm {
    margin: 5px;
}

.ResultListItem .DeleteEntry {
    margin: 5px;
}
