.SignUp-form {
    margin-top: 120px !important;
}

.SignUp-form .ui.form {
    margin-top: 3em;
}

.SignUp-form .ui.form .field {
    margin-bottom: 1em;
}

.SignUp-form .ui.divider {
    margin-top: 2em;
    color: grey;
    opacity: 0.8;
}
