.EntryForm-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.EntryForm-btn-save {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.EntryForm-btn-open .glyphicon-plus-sign {
    font-size: 30px;
}

.EntryForm-btn-open .glyphicon-pencil {
    font-size: 12px;
}

.EntryForm-keywords {
    position: absolute;
    bottom: 0;
    left: 0;
    display:inline-flex;
    padding: 10px;
}

.EntryForm-title {
    position: absolute;
    top: 0;
    left: 0;
    display:inline-flex;
    margin: 10px;
}
