.ResultListItem-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.ResultListItem {
  text-transform: capitalize;
  height: 80px;
  margin-top: 20px;
}

.ResultListItem-title {
    text-decoration: underline;
    font-size: 15px;
}

.ResultListItem-label {
    margin-right: 2px;
    background-color: #333;
}

.ResultListItem-btn-panel {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-flex;
}

.ResultListItem .EntryForm {
    margin: 5px;
}

.ResultListItem .DeleteEntry {
    margin: 5px;
}
